@import '@/styles/vars';
@import '@/styles/mixins';

.starButton {
	min-width: 70px;
	border: none;
	cursor: pointer;
	background: transparent;
	position: relative;
	color: $gray;
	span {
		background: $green5;
		padding: 0px 5px;
		position: absolute;
		top: 0;
		left: 60%;

		color: white;
		font-weight: bold;
		@include text-regular;
		border-radius: 50%;
	}
	@media screen and (max-width: 767px) {
		min-width: auto;
		width: 10vw;
	}
}
