@import '@/styles/vars';

@mixin text-regular {
	white-space: pre-line;
	font-size: 27px;
	line-height: normal;
	font-family: 'Nunito', sans-serif;
	@media screen and (max-width: 1199px) {
		font-size: 21px;
		letter-spacing: 0.5px;
	}
	@media screen and (max-width: 767px) {
		font-size: 18px;
		letter-spacing: 0;
	}
}

@mixin main-layout {
	min-height: calc(100vh - 60px);
	display: grid;
	grid-template-columns: [panel] 1fr [content] 8fr;
	grid-template-rows:
		[content] 1fr
		[footer] auto;
        @media screen and (max-width: 767px) {
            grid-template-columns:[content] 1fr;
            	grid-template-rows:
                [panel] auto
		[content] 1fr
		[footer] auto;
        }
}

@mixin btn {
	cursor: pointer;
	@include text-regular;
	background: $green;
	color: white;
	padding: 5px 20px;
	border: 1px solid $gray5;
	border-radius: 5px;
	font-weight: bold;
	&:hover {
		background: $green5;
	}
    &:disabled{
        background: $gray5;
		cursor: not-allowed;
    }
	
}

@mixin btn-disabled {
	cursor: pointer;
	@include text-regular;
	font-weight: bold;
	background: $dark;
	color: white;
	padding: 5px 20px;
	border: 1px solid $gray5;
	border-radius: 5px;
	&:hover {
		background: $green5;
	}
	    &:disabled{
        cursor: not-allowed;
    }
}

@mixin link {
	text-decoration: none;
	color: $green;
	&:visited {
		color: $green50;
	}
	&:hover {
		color: $dark;
	}
}
