@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Pacifico&family=Poiret+One&family=Russo+One&family=Viaoda+Libre&display=swap');


*,*::after,*::before {
  box-sizing: border-box;
}
html,
body,ul {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
/* overflow: hidden; */


  }